:root{
    --border-color: #d8d8d8;
    --main-color: #ececec;
    --head-color: #333;
    --input-color: #e4e4e4;
    --button-color: #c2c2c2;
    --accept-color: #008512d2;
    --reject-color: #9b0000d2;
    --background-color: #fffceb;
}

/* -- Geral -- */

body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: var(--background-color);
}

h1, h2{
    color: var(--head-color);
    text-align: center;
}

main{
    background-color: var(--main-color);
    margin: auto;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 15px rgb(0,0,0,0.2);
}

/* -- Cadastro -- */

main.cadastro{
    padding: 10px 25px;
}

form{
    display: grid;
    gap: 5px;
}

label{
    align-self: center;
}

textarea{
    resize: vertical;
}

select {
    cursor: pointer;
}

select, input, textarea {
    width: 100%;
    background-color: var(--input-color);
    border: 1px solid var(--border-color);
    outline: none;
    padding: 8px;
    min-width: 400px;
    box-sizing: border-box;
}

select, input, textarea, button {
    border-radius: 5px;
    padding: 8px;
}

div.botoes{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button{
    color: white;
    border: none;
    cursor: pointer;
    min-width: 80px;
    background-color: var(--button-color);
}

button.addButton:hover {
    background-color: var(--accept-color);
}

button.clearButton:hover {
    background-color: var(--reject-color);
}

button:hover, :focus {
    transform: scale(1.01);
}

/* -- Registros -- */

main.registro{
    margin-top: 30px;
    padding: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th,td {
    padding: 10px;
    text-align: center;
}

th{
    background-color: var(--input-color);
    font-weight: 100;
}

button.resetTableButton{
    margin-top: 15px;
}

button.resetTableButton:hover {
    background-color: var(--reject-color);
}