body{
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2{
    color: #333;
    text-align: center;
}

div.cadastro{
    background-color: #01929c;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 15px;
}

form{
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

label{
    align-self: center;
}
label.message{
    max-width: 200px;
}

textarea{
    resize: vertical;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

button{
    padding: 10px;
    background-color: #b30000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

div.botoes{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button:hover {
    background-color: #9b0000;
    transform: scale(1.01);
}

table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th,td {
    padding: 8px;
    text-align: left;
}

th{
    background-color: #f2f2f2;
}