<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exemplo de Página HTML</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>Detalhes do produto</h1>
        <p><strong>ID:</strong> <span th:text="${id}"></span></p>
        <p><strong>Produto:</strong> <span th:text="${produto}"></span></p>
        <p><strong>Preço:</strong> <span th:text="${preco}"></span></p>
        <p><strong>Quantidade:</strong> <span th:text="${quantidade}"></span></p>
        <p><strong>Fornecedor:</strong> <span th:text="${fornecedor}"></span></p>
        <p><strong>Lote:</strong> <span th:text="${lote}"></span></p>
        <p><strong>Data de Fabricação:</strong> <span th:text="${dataFabricacao}"></span></p>
    </div>
</body>
</html>