/DESI/Modelagem de Sistemas/Java/AutoPeca/nbproject/private/
/DESI/Modelagem de Sistemas/Java/AutoPeca/build/
/PSII/Desenvolvimento de Sistemas/Java/AppCodeForm/nbproject/private/
/PSII/Desenvolvimento de Sistemas/Java/AppCodeForm/build/
/PSII/Desenvolvimento de Sistemas/Java/AppDesignForm/nbproject/private/
/PSII/Desenvolvimento de Sistemas/Java/AppDesignForm/build/
/PSII/Desenvolvimento de Sistemas/Java/FormCadastro/nbproject/private/
/PSII/Desenvolvimento de Sistemas/Java/FormCadastro/build/
/PSII/Desenvolvimento de Sistemas/Java/AppAtividadeForm/build/
/PSII/Desenvolvimento de Sistemas/Java/AppAtividadeForm/nbproject/private/
/PSII/Desenvolvimento de Sistemas/Java/AppCadMenuDAO/nbproject/private/
/PSII/Desenvolvimento de Sistemas/Java/AppCadMenuDAO/build/
/DESI/Programação de Aplicativos/Java/BlocoDeNotas/nbproject/private/
/DESI/Programação de Aplicativos/Java/BlocoDeNotas/build/
/DESI/Programação de Aplicativos/Java/AgendaDeContatos/nbproject/private/
/DESI/Programação de Aplicativos/Java/AgendaDeContatos/build/
/PSII/Desenvolvimento de Sistemas/Java/AppAtividadeForm/dist/
