/DESI/Modelagem de Sistemas/Java/AutoPeca/nbproject/private/
/DESI/Modelagem de Sistemas/Java/AutoPeca/build/
/DESI/Programação de Aplicativos/Java/PA-Aula1/nbproject/private/
/DESI/Programação de Aplicativos/Java/PA-Aula1/build/
/DESI/Programação de Aplicativos/Java/Calculator/nbproject/private/
/DESI/Programação de Aplicativos/Java/Calculator/build/
