<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Editar Pedido</title>
</head>
<body>
    <h1>Editar Pedido</h1>
    <form th:action="@{/pedido/salvar}" th:object="${pedido}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>

        <label for="dataPedido">Data do Pedido:</label>
        <input type="date" th:field="*{dataPedido}" id="dataPedido" required/><br>

        <label for="idProduto">Nome do produto:</label>
        <select id="idProduto" name="idProduto" required>
            <option th:each="produto : ${produtos}" 
                    th:value="${produto.id}" 
                    th:text="${produto.nome}"></option>
        </select><br>

        <button type="submit">Salvar</button>
    </form>

    <a href="/pedido/listar">Cancelar</a>
</body>
</html>