<!DOCTYPE html>
<!-- 'xmlns:th': Incluindo template thymeleaf no HTML -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Lista de Produtos</title>
</head>

<body>
    <div th:if="${mensagem}">
        <p th:text="${mensagem}"></p>
    </div>
    <div th:if="${mensagemErro}">
        <p th:text="${mensagemErro}"></p>
    </div>

    <h1>Lista de Produtos</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Categoria</th>
            <th>Fornecedor</th>
            <th>Imagem</th>
            <th>Ações</th>
        </tr>
        <!-- 'th:each': Iterar sobre coleções -->
        <tr th:each="produto : ${produto}">
            <!-- 'th:text': Você pode usar funções para manipular dados e acessar atributos de objetos -->
            <td th:text="${produto.id}"></td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.descricao}"></td>
            <td th:text="${produto.preco}"></td>
            <td th:text="${produto.quantidade}"></td>
            <td th:text="${produto.categoria}"></td>
            <td th:text="${produto.fornecedor}"></td>
            <td>
                <!-- 'th:src': Vincular URL dinamicamente -->
                <img th:src="@{/produto/imagem/{id}(id=${produto.id})}" alt="Imagem do Produto" class="produto-imagem">
            </td>
            <td>
                <div class="acao">
                    <!-- 'th:href': Vincular URL dinamicamente -->
                     <a th:href="@{/produto/editar/{id}(id=${produto.id})}">
                        <button type="button" class="edit">Editar</button>
                     </a>
                </div>
                <!-- 'th:action': Define a URL de ação para um formulário -->
                <form th:action="@{/produto/deletar/{id}(id=${produto.id})}" method="post">
                    <button type="submit" onclick="return confirm('Tem certeza que deseja deletar este produto?')" class="del">Deletar</button>
                </form>
            </td>
        </tr>
    </table>
    <br>
    <!-- 'th:href': Vincular URL dinamicamente -->
    <a th:href="@{/cadastrar}">
        <button type="button">Cadastrar Novo Produto</button>
    </a>
</body>

</html>