<!DOCTYPE html>
<!-- 'xmlns:th': Incluindo template thymeleaf no HTML -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Lista de Produtos</title>
</head>

<body>
    <h1>Lista de Produtos</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Categoria</th>
            <th>Fornecedor</th>
            <th>Imagem</th>
            <th>Ações</th>
        </tr>
        <!-- 'th:each': Iterar sobre coleções -->
        <tr th:each="pedido : ${pedido}">
            <!-- 'th:text': Você pode usar funções para manipular dados e acessar atributos de objetos -->
            <td th:text="${pedido.id}"></td>
            <td th:text="${pedido.data_pedido}"></td>
            <td th:text="${pedido.id_produto}"></td>
            <td>
                <div class="acao">
                    <!-- 'th:href': Vincular URL dinamicamente -->
                     <a th:href="@{/pedido/editar/{id}(id=${pedido.id})}">
                        <button type="button" class="edit">Editar</button>
                     </a>
                </div>
                <!-- 'th:action': Define a URL de ação para um formulário -->
                <form th:action="@{/pedido/deletar/{id}(id=${pedido.id})}" method="post">
                    <button type="submit" onclick="return confirm('Tem certeza que deseja deletar este pedido?')" class="del">Deletar</button>
                </form>
            </td>
        </tr>
    </table>
    <br>
    <!-- 'th:href': Vincular URL dinamicamente -->
    <a th:href="@{/pedido/cadastrar}">
        <button type="button">Cadastrar Novo Pedido</button>
    </a>
</body>

</html>