<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Lista de Pedidos</title>
</head>

<body>
    <h1>Lista de Pedidos</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Data do Pedido</th>
                <th>Produto</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pedido : ${pedidos}">
                <td th:text="${pedido.id}"></td>
                <td th:text="${pedido.dataPedido}"></td>
                <td>
                    <span th:if="${pedido.produto != null}" th:text="${pedido.produto.nome}"></span>
                    <span th:if="${pedido.produto == null}">Produto não disponível</span>
                </td>
                <td>
                    <div class="acao">
                        <a th:href="@{/pedido/editar/{id}(id=${pedido.id})}">
                            <button type="button" class="edit">Editar</button>
                        </a>
                    </div>
                    <form th:action="@{/pedido/deletar/{id}(id=${pedido.id})}" method="post">
                        <button type="submit" onclick="return confirm('Tem certeza que deseja deletar este pedido?')" class="del">Deletar</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/cadastrar}">
        <button type="button">Cadastrar Novo Pedido</button>
    </a>
</body>
</html>
