<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/css/list.css">
    <title>Lista de Produtos</title>
</head>

<body>
    <div class="container">
        <h1>Lista de Produtos</h1>
        
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Categoria</th>
                    <th>Fornecedor</th>
                    <th>Imagem</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produto : ${produto}">
                    <td th:text="${produto.id}"></td>
                    <td th:text="${produto.name}"></td>
                    <td th:text="${produto.description}"></td>
                    <td th:text="${produto.price}"></td>
                    <td th:text="${produto.quantity}"></td>
                    <td th:text="${produto.category}"></td>
                    <td th:text="${produto.supplier}"></td>
                    <td>
                        <img th:src="@{/produto/imagem/{id}(id=${produto.id})}" alt="Imagem do Produto" class="produto-imagem"> 
                    <td>
                        <div class="acao">
                            <a th:href="@{/produto/editar/{id}(id=${produto.id})}">
                                <button type="button" class="edit">Editar</button>
                            </a>

                            <form th:action="@{/produto/deletar/{id}(id=${produto.id})}" method="post">
                                <button type="submit" onclick="return confirm('Tem certeza que deseja deletar este produto?');"
                                    class="del">Deletar</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="actions">
            <a th:href="@{/cadastrar}">
                <button type="button" class="new-product-btn">Cadastrar Novo Produto</button>
            </a>
        </div>
    </div>
</body>

</html>
